.colour-scheme {
    color-scheme: light dark;
    background: #f5f5f6;
}

    #states a.inverse text {
           fill: #222;
    }

@media (prefers-color-scheme:dark) {
    .colour-scheme.adaptive {
            background: #2d333b;
            color:#dfdffd;
  }
    .btn { 
            color:#dfdffd;
        &:hover{
            color:#fff;
        }
    }

    #states a.inverse text {
           fill: #EAEAEA;
    }
}

.body {
    margin-left: 5em;
    margin-right: 5em;
}

/* latin */
  body {
    margin: 0;
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
  }

  .center {
    margin: auto;
    text-align: center;
    width: 100%; 
    padding-top: 60px;
    display: block;
  }

  /* Style the navbar */
  #navbar {
    overflow: hidden;
  }

  /* Navbar links */
  #navbar a {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    color: #918f8f;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  #navbar a:hover{
    background-color: #ddd;
    color: black;
  }

  #navbar a.active {
    background-color: #1073c9;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 2);
  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .navbarOffsetMargin {
    padding-bottom: 3em;
  }

  .transition {
    background-color: #222222;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.endtransition {
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

svg {
    display: block;
    margin: auto;
}

.centre {
    display: block;
    padding-bottom: 1.5em;
    text-align: center;
}


.btn {   
    background-color: transparent;
    outline:0;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;

    padding: 6px 22.5px 6px 22.5px;
    font-size: 1.2em;

    border: 2px solid #1073c9; 
    &:hover {
        color: #fff;
        background-color: #1073c9;
        cursor: pointer;
    } 
}
