.colour-scheme {
    color-scheme: light dark;
    /*background: #f5f5f6; this is a light grey*/
    background: #fcf8f6;
}
    #states a.inverse text {
           fill: #222;
    }
  .transition {
    background-color: #deedf4;
}

@media (prefers-color-scheme:dark) {
    .colour-scheme.adaptive {
            background: #2d333b;
            color:#dfdffd;
  }
    .btn { 
            color:#dfdffd;
        &:hover{
            color:#fff;
        }
    }
    #states a.inverse text {
           fill: #EAEAEA;
    }
    .transition {
        background-color: #222;
    }
}

.body {
    margin-left: 5em;
    margin-right: 5em;
}

/* latin */
  body {
    margin: 0;
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
  }

  .center {
    margin: auto;
    text-align: center;
    width: 100%; 
    display: block;
  }

  /* Page content */
  .content {
    padding: 16px;
  }

svg {
    display: block;
    margin: auto;
}

.centre {
    display: block;
    padding-bottom: 1.5em;
    text-align: center;
}


.btn {   
    background-color: transparent;
    outline:0;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;

    padding: 6px 22.5px 6px 22.5px;
    font-size: 1.2em;

    border: 2px solid #1073c9; 
    &:hover {
        color: #fff;
        background-color: #1073c9;
        cursor: pointer;
    } 
}
