svg {
    display: block;
    margin: auto;
    max-height: 70vh;
    max-width: 60vw;
}

#states a path {
	transition: fill .5s ease;
	-moz-transition: fill .5s ease;
	-webkit-transition: fill .5s ease;
	fill: #81a1ac;
}
#states a rect {
	transition: fill .5s ease;
	-moz-transition: fill .5s ease;
	-webkit-transition: fill .5s ease;
	fill: #81a1ac;
}

#states a:hover path {
	transition: fill .5s ease;
	-moz-transition: fill .5s ease;
	-webkit-transition: fill .5s ease;
	fill: #425957 !important;
	cursor: pointer;
}

#states a:hover rect {
	transition: fill .5s ease;
	-moz-transition: fill .5s ease;
	-webkit-transition: fill .5s ease;
	fill: #425957 !important;
	cursor: pointer;
}

#states a text {
	font-size: 9px;
}

#states a:hover text {
	fill: #EAEAEA;
	color: #EAEAEA;
}

#states a.inverse text:hover {
	fill: #EAEAEA;
}

.hover-color {
	fill: #425957
}
