iframe {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    height: 3em;
    border: none;
    padding: 0;
    margin: 0;
    overflow: "hidden";
}

  /* Style the navbar */
  #navbar {
    overflow: hidden;
  }

  /* Navbar links */
  #navbar a {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    color: #918f8f;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  #navbar a:hover{
    background-color: #ddd;
    color: black;
  }

  #navbar a.active {
    background-color: #1073c9;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 2);
  }

  .transition {
    background-color: #222222;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.endtransition {
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

